@{
    ViewBag.Title = "Home Page";
}


<style type="text/css">
    .fade-carousel {
        position: relative;
        height: 100vh;
    }

        .fade-carousel .carousel-inner .item {
            height: 100vh;
        }

        .fade-carousel .carousel-indicators > li {
            margin: 0 2px;
            background-color: #f39c12;
            border-color: #f39c12;
            opacity: .7;
        }

            .fade-carousel .carousel-indicators > li.active {
                width: 10px;
                height: 10px;
                opacity: 1;
            }

    /********************************/
    /*          Hero Headers        */
    /********************************/
    .hero {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0,0,0,.75);
        -webkit-transform: translate3d(-50%,-50%,0);
        -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
        -o-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }

        .hero h1 {
            font-size: 6em;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

    .fade-carousel .carousel-inner .item .hero {
        opacity: 0;
        -webkit-transition: 2s all ease-in-out .1s;
        -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
        -o-transition: 2s all ease-in-out .1s;
        transition: 2s all ease-in-out .1s;
    }

    .fade-carousel .carousel-inner .item.active .hero {
        opacity: 1;
        -webkit-transition: 2s all ease-in-out .1s;
        -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
        -o-transition: 2s all ease-in-out .1s;
        transition: 2s all ease-in-out .1s;
    }

    /********************************/
    /*            Overlay           */
    /********************************/
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #080d15;
        opacity: .7;
    }

    /********************************/
    /*          Custom Buttons      */
    /********************************/
    .btn.btn-lg {
        padding: 10px 40px;
    }

    .btn.btn-hero,
    .btn.btn-hero:hover,
    .btn.btn-hero:focus {
        color: #f5f5f5;
        background-color: #1abc9c;
        border-color: #1abc9c;
        outline: none;
        margin: 20px auto;
    }

    /********************************/
    /*       Slides backgrounds     */
    /********************************/
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .fade-carousel .slides .slide-1 {
        background-image: url("../../Image/31.jpg");
    }

    .fade-carousel .slides .slide-2 {
        background-image: url("../../Image/32.jpg");
    }

    .fade-carousel .slides .slide-3 {
        background-image: url("../../Image/33.jpg");
    }

    /********************************/
    /*          Media Queries       */
    /********************************/
    @@media screen and (min-width: 980px) {
        .hero {
            width: 980px;
        }
    }

    @@media screen and (max-width: 640px) {
        .hero h1 {
            font-size: 4em;
        }
    }
</style>


<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">

    <!--Overlay-->
    <div class="overlay"></div>

    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h2>Concepcion Catholic School</h2>
                    <h4>We are smart</h4>
                    <h5>Start your future with us</h5>
                </hgroup>
                <a href="#mission" class="btn btn-hero page-scroll">Mission</a>
                <a href="#vision" class="btn btn-hero page-scroll">Vision</a>
                <a href="#goal" class="btn btn-hero page-scroll">Goal</a>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h2>Concepcion Catholic School</h2>
                    <h4>We are awesome</h4>
                    <h5>Start your future with us</h5>
                </hgroup>
                <a href="#mission" class="btn btn-hero page-scroll">Mission</a>
                <a href="#vision" class="btn btn-hero page-scroll">Vision</a>
                <a href="#goal" class="btn btn-hero page-scroll">Goal</a>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h2>Concepcion Catholic School</h2>
                    <h4>We are amazing</h4>
                    <h5>Start your future with us</h5>
                </hgroup>
                <a href="#mission" class="btn btn-hero page-scroll">Mission</a>
                <a href="#vision" class="btn btn-hero page-scroll">Vision</a>
                <a href="#goal" class="btn btn-hero page-scroll">Goal</a>
            </div>
        </div>
    </div>
</div>

<br />


<section id="mission" class="mission-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Mission</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            Concepcion Catholic School is committed
                            <br /> -To develop Christian and moral values
                            <br /> -To provide quality education to our pupils and students
                            <br />  -To integrate the aspects of their human knowledge to their daily experiences
                            <br /> -To assist them to be "Maka-Dios,Maka-tao,Maka-bayan at Maka-kalikasan"

                        </p>
                        <div>
                            <ul class="list-inline">
                                <li><a href="#bs-carousel" class="btn btn-hero page-scroll">Main</a></li>
                                <li><a href="#vision" class="btn btn-hero page-scroll">Vision</a></li>
                                <li><a href="#goal" class="btn btn-hero page-scroll">Goal</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="vision" class="vision-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Vision</h2>
                    </div>
                    <div class="panel-body">
                        <p>Concepcion Catholic School is a Filipino and Catholic Institution dedicated to <br />
                        quality education, animated by the spirit of the Gospel and inspired by the examples of the Blessed Virgin Mary and St. Dominic</p>
                        <div>
                            <ul class="list-inline">
                                <li><a href="#bs-carousel" class="btn btn-hero page-scroll">Main</a></li>
                                <li><a href="#mission" class="btn btn-hero page-scroll">Mission</a></li>
                                <li><a href="#goal" class="btn btn-hero page-scroll">Goal</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="goal" class="goal-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Goal</h2>
                    </div>
                    <div class="panel-body">
                        <p>To Improve the Quality of Education and Technology of Concepcion Catholic School.</p>
                        <div>
                            <ul class="list-inline">
                                <li><a href="#bs-carousel" class="btn btn-hero page-scroll">Main</a></li>
                                <li><a href="#mission" class="btn btn-hero page-scroll">Mission</a></li>
                                <li><a href="#vision" class="btn btn-hero page-scroll">Vision</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}